body{
    color: rgb(65, 6, 121);
    background:rgb(5, 85, 5);
}



header{
border-bottom: solid zpx red;
padding: 20px;
font-size:40px;
color: red;
}

section{
    background: blue;
    padding-bottom:80px;
    padding-top:80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
      margin-right:5%;

}